
* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in;
}

.container {
  display: grid;
  max-width: 300px;
  grid-template-rows: 2fr;
  align-items: center;
  justify-items: center;
  background-color: #fafafa;
  padding: 24px;
  margin: 8px;
  border-radius: 16px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  outline: solid 1px white;
  transition: all 0.3s ease-in;


}

.selected-anecdote{
  grid-row: 1;
}


.votes {
  grid-row: 2;
  display: inline-block;
  color: rgb(119, 119, 119);
}

.quote-container {

height: clamp(20vh, 50vh, 60vh);
}


.buttons-container{
  display: flex;
  justify-content: space-between;
}

.button{
  border-radius: 16px;
  margin: 4px;
  padding: 16px;
  background-color: #ffffff;
  outline: solid 2px rgb(100, 159, 230);
  color: rgb(100, 98, 98);
  border: none;
  transition: all 0.3s ease-in;
}

.button:hover{
  border-radius: 24px;
  margin: 4px;
  padding: 16px;
  background-color: rgb(163, 192, 227);
  outline: solid 2px rgb(110, 110, 176);
  color: rgb(100, 98, 98);
  border: none;
}